/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    background-color: lightgrey;
    font-size: 35px;
}
h1,h2{
    color: #35f30f;
}
h1 {
    font-size: 35px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 18px;
}
h2 {
    font-size: 25px;
}
p {
    margin: 12px;
    font-size: 15px;
    text-align: justify;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#text-1 {
    font-size: 20px;
    color: #212520;
}

.container{
    width: 1200px;
    margin: 40px auto 0 auto;
}

.post{
    width: 75%;
    float: left;
    position: relative;
    /* padding-right: 300px; */
}

.post img{
    border-radius: 50%;
}
.sidebar{
    width: 25%;
    float: left;
}
.sidebarchild{
    margin-bottom: 56px;
}
.sidebar p{
    margin: 0;
}
.sidebarchild h1{
    background-color: burlywood;
}
.footer{
    padding: 20px 0;
}

.clear{
    clear: both;
}
/* .writer{
    position:absolute;
    position: sticky;
    top: 7px;
    right: 25px;
    position: fixed;
    float: right
} */

/* input[type=text], input[type=email], input[type=password]{
    padding: 5px;
    background-color: #35f30f;
    border: 0;
}



table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}
th, td{
    padding: 12px;
}
th{
    text-align: left;
} */
.container-table{
    font-size: 20px;
    margin: 30px 0;
    border-collapse: collapse;
    min-width: 380px;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    font-family: 'Sriracha', cursive;

}
.container-table thead tr{
    text-align: left;
    color: #fff;
    background-color: #3145ff;
}

.container-table th, .container-table td{
    padding: 10px 13px;
}

.container-table tbody tr{
    border-bottom: 3px solid #ccc;
}

.container-table tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
}
.container-table tbody tr:last-of-type{
    border-bottom: 5px solid #3145ff;
}
